body{
  background-color: #C2FFD9;
  text-align: center;
}

h3{
  color: #00A19D;
}

table{
 margin:auto;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.size{
  width: 50px;
  margin: auto;
}
.font{
  font-family:'Sacramento', cursive;
}
